  /* Custom styles */
  body {
    padding-top: 60px;
  }
  #navbar {
    transition: top 0.3s ease;
  }
  .card {
    transition: transform 0.3s;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-img-top {
    height: 300px;
    object-fit: cover;
  }

  .card-title {
    font-weight: bold;
  }

  .card-text {
    height: 60px;
    overflow: hidden;
  }

  .footer {
    background-color: #f8f9fa;
  }