{% extends 'LMS/base.html' %}

{% block content %}

  <div style="direction: rtl;" class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div   class="content-wrapper">
      <!-- Content Header (Page header) -->
  <div  class="card card-success">
      <div class="card-header">
        <h3 class="card-title">ترقية حساب الى مسوؤل في المكتبة</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form  method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="row">
          
       <p class="p-3">هل تريد حقاً ترقية هذا المستخدم ؟ </p>
   
        </div>
        <!-- /.card-body -->
  
        <div class="card-footer">
          <button type="submit" class="btn btn-success">ترقية</button>
  
          <a href="{% url 'profiles' %}" type="submit" class="btn btn-primary">تراجع</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}