{% extends 'accounts/base.html' %}
{% block Title %}تسجيل الدخول {% endblock Title %}

{% block content %}



{% if next %}
{% if user.is_authenticated %}
<p>هذا الحساب ليس لديه حق الوصول لهذه الصفحة ارجاء ادخال الحساب ذو صلاحيات لدخول الى هذه الصفحة</p>
{% else %}
<p>ارجو تسجيل الدخول لدخول إلى هذه الصفحة</p>
{% endif %}
{% endif %}
<style>
  .box-form .left {
    background-image: url("/static/imeges/lib1.jpg");
  }
</style>
<form method="post" action="{% url 'accounts:login' %}">
  {% csrf_token %}
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1>أهلا بعودتك </h1>
        <p>اهلا بكم في مكتبتكم المكتبة العالمية</p>
      </div>
    </div>


    <div class="right">
      <h5>تسجيل الدخول</h5>
      <p>ليس لديك حساب ؟ <a href="{% url 'accounts:signup' %}">التسجيل</a> لن يستغرق الامر اكثر من دقيقة</p>
      <div class="inputs">
        <p style="color:red;">{{error}}</p>
        {% if next %}
        {% if user.is_authenticated %}
        <p>هذا الحساب ليس لديه حق الوصول لهذه الصفحة ارجاء ادخال الحساب ذو صلاحيات لدخول الى هذه الصفحة</p>
        {% else %}
        <p>ارجو تسجيل الدخول لدخول إلى هذه الصفحة</p>
        {% endif %}
        {% endif %}
        <input type="text" name="username" placeholder="أسم المستخدم">
        <br>
        <input type="password" name="password" placeholder="كلمة المرور">
      </div>

      <br><br>

      <div class="remember-me--forget-password">
        <!-- Angular -->
        <label>
          <input type="checkbox" name="item" checked />
          <span class="text-checkbox">تذكرني</span>
        </label>
        <p>نسيت كلمة المرور</p>
      </div>

      <br>
      <button type="submit">ادخل</button>
    </div>

  </div>


  <input type="hidden" name="next" value="{{ next }}">
</form>


{% endblock %}