{% extends 'home/base.html' %}

{% block content %}
  <div class="p-16">
    <div class="p-8 bg-white shadow mt-24">
      <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
          <div>
            <p class="font-bold text-gray-700 text-xl">{{profile.borrowedBooks}}</p>
            <p class="text-gray-400">الكتب المشترى</p>
          </div>
          <div>
            <p class="font-bold text-gray-700 text-xl">{{profile.boughtBooks}}</p>
            <p class="text-gray-400">الكتب المستأجرة</p>
          </div>
        </div>
        <div class="relative">
          {% if profile.user_photo %}     
          <div>
            <img src="{{profile.user_photo.url}}" 
            class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500" alt="">
          </div>
          {% else %}
          <div
            class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
            </svg>
          </div>
          {% endif %}
        </div>

       {% if user.is_superuser and not profile.user.is_staff %}
        <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
          <button
            class="text-white py-2 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
            ترقية الى مسوؤل
          </button>
        </div>
      </div>
      {% endif %}
      {% if request.user == profile.user %}
      <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
        <a href="{% url 'accounts:profile_edit' %}"
          class="text-white py-2 px-4 uppercase rounded bg-sky-400 hover:bg-sky-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
          تعديل بيانات الحساب
      </a>
      </div>
      {% endif %}
      </div>
      <div class="mt-20 text-center border-b pb-12">
        <h1 class="text-4xl font-medium text-gray-700">@{{profile.user.username}}</h1>
        <p class="font-light text-gray-600 mt-3">{{profile}}</p>
      </div>
  
  <div class="mt-12 flex flex-col justify-center">
    <div class="mb-4">
      <label class="text-gray-600">الاسم بالكامل</label>
      <p id="name" class="form-control-static">{{profile}}</p>
    </div>
    <div class="mb-4">
      <label class="text-gray-600">اسم المستخدم</label>
      <p id="name" class="form-control-static">{{profile.user.username}}</p>
    </div>
    <div class="mb-4">
      <label class="text-gray-600">البريد الالكتروني</label>
      <p id="email" class="form-control-static">{{profile.user.email}}</p>
    </div>
    <div class="mb-4">
      <label class="text-gray-600">رقم الهاتف</label>
      <p id="phone_number" class="form-control-static">{{profile.phone_number}}</p>
    </div>
    <div class="mb-4">
      <label class="text-gray-600">العنوان</label>
      <p id="address" class="form-control-static">{{profile.address}}</p>
    </div>
    <div class="mb-4">
      <label class="text-gray-600">الحالة</label>
      {% if user.is_superuser %}
      <p id="staff" class="form-control-static">صاحب المكتبة</p>
      {% elif user.is_staff %}
        <p id="staff" class="form-control-static">عسوؤل في المكتبة</p>
      {% else %}
        <p id="staff" class="form-control-static">عضو في المكتبة</p>
      {% endif %}
      
      
    </div>
  </div>
  
    </div>
  </div>
{% endblock content %}