{% extends 'home/base.html' %}

{% block content %}
<div class="p-16">
    <div class="p-8 bg-white shadow mt-24">
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
                <div>
                    <p class="font-bold text-gray-700 text-xl">{{profile.borrowedBooks}}</p>
                    <p class="text-gray-400">الكتب المشترى</p>
                </div>
                <div>
                    <p class="font-bold text-gray-700 text-xl">{{profile.boughtBooks}}</p>
                    <p class="text-gray-400">الكتب المستأجرة</p>
                </div>
            </div>
            <div class="relative">
                {% if profile.user_photo %}
                <div>
                    <img src="{{profile.user_photo.url}}"
                        class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500"
                        alt="">
                </div>
                {% else %}
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="user_photo" class="hidden" id="upload-photo">
                    <label for="upload-photo"
                        class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500 cursor-pointer">رفع
                        الصورة</label>
                    <button type="submit" class="hidden">رفع صورة</button>

            </div>
            {% endif %}
        </div>

        {% if user.is_superuser and not profile.user.is_staff %}
        <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
            <button
                class="text-white py-2 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                ترقية الى مسوؤل
            </button>
        </div>
        {% endif %}
        <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
            {% if profile.user_photo %}
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="user_photo" class="hidden" id="upload-photo">
                <label for="upload-photo"
                    class="text-white py-2 px-4 uppercase rounded bg-indigo-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">تغيرالصورة</label>
                {% endif %}
        </div>
    </div>
    <div class="mt-20 text-center border-b pb-12">
        <h1 class="text-4xl font-medium text-gray-700">{{profile}}</h1>
        <p class="font-light text-gray-600 mt-3">{{profile.address}}</p>
    </div>

    <div class="mt-12 flex flex-col justify-center">
        <form method="POST" enctype="multipart/form-data" class="w-full">
            {% csrf_token %}
            <div class="mb-4">
                <label class="text-gray-600 block">الإسم الاول</label>
                <input type="text" name="first_name" value="{{profile.user.first_name}}"
                    class="w-full px-4 py-2 border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 rounded-md shadow-sm">
            </div>
            <div class="mb-4">
                <label class="text-gray-600 block">الاسم الاخير</label>
                <input type="text" name="last_name"
                    class="w-full px-4 py-2 border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 rounded-md shadow-sm"
                    value="{{profile.user.last_name}}">
            </div>
            <div class="mb-4">
                <label class="text-gray-600 block">البريد الالكتروني</label>
                <input type="email" name="email" value="{{profile.user.email}}"
                    class="w-full px-4 py-2 border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 rounded-md shadow-sm">
            </div>
            <div class="mb-4">
                <label class="text-gray-600 block">العنوان</label>
                <input type="address" name="address" value="{{profile.address}}"
                    class="w-full px-4 py-2 border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 rounded-md shadow-sm">
            </div>
            <div class="mb-4">
                <label class="text-gray-600 block">اسم المستخدم</label>
                <input type="text" name="username" value="{{profile.user.username}}"
                    class="w-full px-4 py-2 border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 rounded-md shadow-sm">
            </div>
            <div class="mb-4">
                <label class="text-gray-600 block">رقم الهاتف</label>
                <input type="text" name="phone_number" value="{{profile.phone_number}}"
                    class="w-full px-4 py-2 border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 rounded-md shadow-sm">
            </div>
            <div class="flex justify-center">
                <button type="submit"
                    class="text-white py-2 px-4 uppercase rounded bg-indigo-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                    حفظ التغييرات
                </button>
        </form>
        </form>
    </div>

</div>
</div>
{% endblock content %}