{% load static %}
<!DOCTYPE html>
<html  lang="ar">
  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/2232/2232688.png" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/tailwind.js' %}"></script>
        <script src"{% static 'js/script.js' %}"></script>
        <title>المكتبة العالمية</title>
      </head>
  
<body dir="rtl" class="hold-transition sidebar-mini">
<!-- Navigation Bar -->
<nav id="navbar" class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
  <!-- Navbar content -->
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="{% url 'index' %}" class="flex items-center">
      <img src="{% static 'imeges/logo.png' %}" class="h-8 ml-3" alt="">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white" >المكتبة العالمية</span>
  </a>
  <div class="flex md:order-2">
      <form class="mr-4">
        <div class="relative">
          <input
            class="border-2 border-transparent bg-gray-800 text-gray-100 rounded-full focus:outline-none focus:border-teal-500 pl-10 pr-4 py-2"
            type="search" placeholder="بحث" action="">
            <div class="absolute top-0 left-0 mt-2 ml-3">
                <i class="fas fa-search text-gray-500"></i>
              </div>             
        </div>
      </form>
      {% if user.is_superuser or user.is_staff  %}
          <a href="{% url 'accounts:profile' %}" ><div>
            <img src="{{profile.user_photo.url}}"
             {% comment %} class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500" {% endcomment %}
            class="px-6 py-2 w-10 h-10 mr-2 bg-indigo-100 mx-auto inset-x-0 top-0  flex items-center justify-center text-indigo-500  rounded-full  hidden lg:inline-block">
          </div></a>
        {% comment %} <a class="px-6 py-2 mr-2 text-lg font-semibold bg-amber-700 text-white rounded-xl hover:bg-amber-900 hidden lg:inline-block" href="{% url 'accounts:profile' %}">Profile</a> {% endcomment %}
        <a class=" px-6 py-2 mr-2 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700 hidden lg:inline-block" href="{% url "mangment" %}">صفحة الادارة</a>
        <a class="px-6 py-2 mr-2 text-lg font-semibold bg-rose-700 text-white rounded-xl hover:bg-rose-900 hidden lg:inline-block" href="{% url 'accounts:logout' %}">تسجيل الخروج </a>

      {% elif user.is_authenticated  %}
        <a class="px-6 py-2 mr-2 text-lg font-semibold bg-rose-700 text-white rounded-xl hover:bg-rose-900 hidden lg:inline-block" href="{% url 'accounts:logout' %}">تسجيل الخروج </a>
      {% else %}
        <a class=" px-6 py-2 mr-2 text-lg font-newtimesRoman bg-teal-500 text-white rounded-xl hover:bg-teal-700 hidden lg:inline-block" href="{% url "accounts:login" %}">تسجيل الدخول</a>
        <a class="px-6 py-2 mr-2 text-lg font-semibold bg-amber-700 text-white rounded-xl hover:bg-amber-900 hidden lg:inline-block" href="{% url 'accounts:signup' %}">التسجيل</a>     
      {% endif %}
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a href="{% url 'index' %}" class="block py-2 pl-3 mr-5 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" >الصفحة الرئيسية</a>
      </li>
      <li>
        <a href="{% url 'books' %}" class="block py-2 pl-3 mr-5 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">الكتب</a>
      </li>
      <li>
        <a href="#" class="block py-2 pl-3 mr-2 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">إتصل بنا</a>
      </li>
    </ul>
  </div>
  </div>
</nav>


{% block content %}
{% endblock %}
 <!-- Footer -->
 <footer id='footer' class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">كل الحقوق محفوظة © 2023 
    </span>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"> تم التطوير بواسطة <a href="https://www.facebook.com/badr.alden.374/" class="hover:underline">بدر الدين</a> & <a href="https://www.facebook.com/profile.php?id=100004292080672" class="hover:underline">تاج الدين</a></span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">حول </a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">الضوابط القوانين</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">الترخيص </a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline">تواصل معنا </a>
        </li>
    </ul>
</footer>
<script>
  var prevScrollPos = window.scrollY;
  window.onscroll = function() {
    var currentScrollPos = window.scrollY;
    if (prevScrollPos > currentScrollPos) {
      document.getElementById("navbar").classList.remove("hidden");
    } else {
      document.getElementById("navbar").classList.add("hidden");
    }
    prevScrollPos = currentScrollPos;
  };





</script>
</body>
</html>