 <footer class="main-footer">
    <strong>Copyright &copy; 2022-2023 <a href="https://www.facebook.com/badr.alden.374">Badr Be Better</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" class="text-dark" href="https://github.com/badrald"><i class="fab fa-lg fa-github"></i></a>
        <a target="_blank" href="https://www.facebook.com/badr.alden.374"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" class="text-warning" href="https://www.instagram.com/badraldenalden/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
    </div>
  </footer>